In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 70)
pd.set_option('display.max_rows',150)

In [34]:
df = pd.read_csv('input/cierres_nc/210914-1607-cierres_nc_21.csv', sep=';', dtype='object')

In [35]:
f4 = pd.read_csv('input/cierres_nc/210914-1607-f4.csv', sep=';', dtype='object')

In [36]:
df.shape

(76457, 16)

In [37]:
cerrado = df[df['estado_final']=='cerrado']

In [38]:
cerrado.shape

(72273, 16)

In [39]:
eac = cerrado[cerrado['tipificacion_final']=='se asocia f4 dado de baja por producto entregado a cliente'].reset_index(drop=True)

In [40]:
lista_tip = ['se asocia f4 dado de baja por producto entegado a cliente con nc', 
'se asocia f4 entregado a cliente', 
'se asocia f4 producto entregado a cliente',
'se asocia f4 dado de baja por producto entregado a cliente', 
'se asocia f4 por producto entregado a cliente con nc',
'se asocia a f4 entregado a cliente no ubicado - cerrado - 3000']

In [41]:
eac = cerrado[cerrado['tipificacion_final'].isin(lista_tip)].reset_index(drop=True)

In [42]:
eac.shape

(182, 16)

Unir f4 y cnc

In [43]:
ef = eac.merge(f4, how='left', left_on=['f4', 'upc'], right_on=['nro_red_inventario', 'upc'])

In [44]:
ef.loc[ef.nro_red_inventario.isna()].shape

(17, 24)

Tiene # de F4?

In [45]:
na = ef.loc[ef.f4.isna()]
ef.loc[na.index,'D2'] = 'No tiene número de F4'
notna = ef.loc[ef.f4.notna()]

F4 único

In [47]:
ef.loc[(ef.D2.isna())& (ef.duplicated(['f4'], keep=False))].shape

(0, 25)

In [46]:
ef.loc[(ef.D2.isna())& (ef.duplicated(['f4'], keep=False)), 'D2'] = 'F4 tiene varias NC'

Fecha de creación diferente a julio

In [20]:
ef.loc[(ef.D2.isna())& (ef.fecha_creacion=='05-may-2021')].shape

(0, 25)

In [17]:
ef.loc[(ef.D2.isna())& (ef.fecha_creacion=='05-may-2021') ,'D2'] = 'F4 con fecha de creación diferente a 07/21'

In [20]:
ef.loc[(ef.D2.isna())& (ef.fecha_creacion=='11-jun-2021')].shape

(0, 23)

In [19]:
ef.loc[(ef.D2.isna())&(ef.fecha_creacion=='11-jun-2021'), 'D2'] = 'F4 con fecha de creación diferente a 07/21'

F4 anulados

In [21]:
ef.loc[ef.D2.isna()]['estado'].unique()

array(['registrado', nan, 'reservado', 'anulado'], dtype=object)

In [22]:
ef.loc[(ef.D2.isna())&(ef.estado=='anulado')].shape

(6, 25)

In [48]:
ef.loc[(ef.D2.isna())&(ef.estado=='anulado'), 'D2'] = 'F4 con estado anulado'

Existen F4 en estado registrado?

In [19]:
ef.fecha_creacion.unique()

array(['12-jul-2021', '05-ago-2021', nan, '26-ago-2021', '20-ago-2021',
       '06-ago-2021', '30-ago-2021', '19-ago-2021', '24-ago-2021',
       '23-ago-2021', '12-ago-2021', '29-jul-2021', '11-jun-2021',
       '04-ago-2021', '27-jul-2021', '21-jul-2021', '22-jul-2021',
       '17-jul-2021', '16-jul-2021', '15-jul-2021', '14-jul-2021',
       '13-ago-2021', '17-ago-2021', '04-may-2021', '25-ago-2021',
       '19-jul-2021', '02-ago-2021', '30-jul-2021'], dtype=object)

In [49]:
fechas = ['12-jul-2021', '05-ago-2021', '06-ago-2021', '12-ago-2021', '29-jul-2021', '11-jun-2021',
       '04-ago-2021', '27-jul-2021', '21-jul-2021', '22-jul-2021',
       '17-jul-2021', '16-jul-2021', '15-jul-2021', '14-jul-2021',
       '13-ago-2021', '04-may-2021',  '19-jul-2021', '02-ago-2021', '30-jul-2021']

In [50]:
ef.loc[(ef.D2.isna())&(ef.estado=='registrado')&(ef.fecha_creacion.isin(fechas))].shape

(32, 25)

In [51]:
ef.loc[(ef.D2.isna())&(ef.estado=='registrado')&(ef.fecha_creacion.isin(fechas)), 'D2'] = 'F4 en registrado con más de un mes de creación'

In [52]:
ncc = ef.loc[(ef.D2.isna())&(ef.cantidad_trx_actual!=ef.cantidad)]

In [53]:
ncc.shape

(3, 25)

In [26]:
ncc.to_excel(f'output/210818-d2-f4-ncc.xlsx', sheet_name=f'nc-f4-base', index=False)

In [27]:
ef.head()

,cod_aut_nc,local_trx,terminal,local_ant,upc,sku,cantidad_trx_actual,ct,tipo_nc,f5,f11_x,f3,f4,estado_final,tipificacion_final,nro_red_inventario,estado,fecha_creacion,destino,linea,cantidad,f11_y,D2
0,1060774658,3000,81,2000,2003681706009,3681706,1,49748,PARCIAL,NaN,NaN,NaN,46324658,cerrado,se asocia f4 dado de baja por producto entrega...,46324658,anulado,12-jul-2021,12603349417 cod aut 1060774658,j07,1,12603349417,F4 con estado anulado
1,1060740363,3000,17,2000,2003431020003,3431020,1,94118,PARCIAL,NaN,NaN,NaN,46324672,cerrado,se asocia f4 dado de baja por producto entrega...,46324672,anulado,12-jul-2021,12624214794 cod aut 1060740363,j08,1,12624214794,F4 con estado anulado
2,1060739329,3000,17,2000,2003558344006,3558344,1,227899,PARCIAL,NaN,NaN,NaN,46331045,cerrado,se asocia f4 dado de baja por producto entrega...,46331045,anulado,12-jul-2021,12623786148 cod aut 1060739329,j08,1,12623786148,F4 con estado anulado
3,1060388084,3000,81,2000,7701144157775,3324151,1,605035,PARCIAL,NaN,NaN,NaN,46331076,cerrado,se asocia f4 dado de baja por producto entrega...,46331076,anulado,12-jul-2021,12624127667 cod aut 1060388084,j14,1,12624127667,F4 con estado anulado
4,1060982343,3000,3001,2000,2005243666004,5243666,1,53748,PARCIAL,NaN,NaN,NaN,46324702,cerrado,se asocia f4 dado de baja por producto entrega...,46324702,anulado,12-jul-2021,12597813499 cod aut 1060982343,j07,1,12597813499,F4 con estado anulado

In [54]:
ef.loc[ef.D2.isna(), 'D2'] = 'OK'

In [55]:
list(ef.loc[(ef.D2.isna()), 'destino'])

[]

In [56]:
ef['ct'] = pd.to_numeric(ef['ct'])

In [57]:
ef.to_excel(f'output/210915-d2-f4.xlsx', sheet_name=f'nc-f4-base', index=False)