In [1]:
import pandas as pd 
from cl_cleaning import CleaningText as ct 
pd.set_option('float_format', '{:,.2f}'.format)
pd.set_option('display.max_columns', 70)

In [2]:
nc = pd.read_excel('input/seguimiento_f11.xlsx', sheet_name='DATA_F11',  dtype='object')

In [3]:
ncaux = nc.copy()

In [7]:
nc = pd.read_csv('output/data_f11_V2.csv', sep=';', dtype='object')

In [8]:
nc = ct.norm_header(nc)

In [9]:
def drop_except(df, cols):
    df.drop(df.columns.difference(cols), axis=1, inplace=True)
    return df

In [101]:
req_lista = ['nfolio', 'nsecuencia', 'prd_upc', 'xsubprod', 'qproducto', 'csucursal', 'crut_clt', 'propietario',
       'xnombre_clt', 'xapellido_clt', 'xciudad_clt', 
       'dcreacion', 'xobservacion', 
       'xestado',  'xservicio', 'borigen', 'suc', 'tienda',
       'prd_lvl_child', 'costo_promedio', 'total_costo_promedio',
       'fecha_corte', 'dias', 'antiguedad', 'grupo']

text_lista = ['xsubprod', 'csucursal', 'propietario', 'xnombre_clt', 'xapellido_clt',
       'xciudad_clt', 'xobservacion', 'xestado',  'xservicio', 'borigen',
       'tienda', 'antiguedad', 'grupo']

fnum_lista = ['nfolio', 'nsecuencia', 'prd_upc',  'crut_clt', 
        'ccomuna', 'cestado','suc', 'prd_lvl_child', 'qproducto', 
          'suc', 'prd_lvl_child',  'dias']

fechas = ['dcreacion','ddespacho', 'fecha_corte']

# 'costo_promedio', 'total_costo_promedio',

In [102]:
nc = drop_except(nc, req_lista)

In [13]:
print('Limpiando texto en columnas')
nc.loc[:, text_lista] = nc.loc[:, text_lista].apply(ct.clean_str)

Limpiando texto en columnas

In [66]:
print('Convirtiendo a número parte 1')
nc.loc[:, fnum_lista] = nc.loc[:, fnum_lista].apply(ct.clean_fnum)

Convirtiendo a número parte 1

In [107]:
nc.fecha_corte.unique()

array(['2021-01-31T00:00:00.000000000', '2020-12-27T00:00:00.000000000',
       '2021-02-08T00:00:00.000000000', '2021-03-01T00:00:00.000000000',
       '2021-03-10T00:00:00.000000000', '2021-04-06T00:00:00.000000000',
       '2021-03-23T00:00:00.000000000', '2021-02-25T00:00:00.000000000',
       '2021-04-12T00:00:00.000000000', '2021-04-22T00:00:00.000000000',
       '2021-04-27T00:00:00.000000000', '2021-05-11T00:00:00.000000000',
       '2021-05-18T00:00:00.000000000', '2021-05-25T00:00:00.000000000',
       '2021-06-01T00:00:00.000000000', '2021-06-08T00:00:00.000000000',
       '2021-06-16T00:00:00.000000000', '2021-06-25T00:00:00.000000000',
       '2021-06-30T00:00:00.000000000', '2021-07-21T00:00:00.000000000',
       '2021-07-13T00:00:00.000000000', '2021-07-28T00:00:00.000000000',
       '2021-08-03T00:00:00.000000000', '2021-08-09T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [106]:
nc.fecha_corte =  pd.to_datetime(nc.fecha_corte)

In [109]:
nc.dcreacion.unique()

array(['2021-01-30 00:00:00', '2021-01-29 18:30:10',
       '2021-01-29 18:30:11', ..., '2021-08-08 00:00:00',
       '2021-08-09 00:00:00', '2021-08-09 11:15:03'], dtype=object)

In [65]:
nc2 = nc.copy()

In [57]:
nc.loc[nc.fecha_corte =='2021-08-09 00:00:00','fecha_corte'] = '2021-08-09'

In [69]:
nc.total_costo_promedio = pd.to_numeric(nc.total_costo_promedio)
nc.total_costo_promedio = round(nc.total_costo_promedio)
nc.total_costo_promedio = nc.total_costo_promedio.astype(int)

In [86]:
#nc.costo_promedio = pd.to_numeric(nc.costo_promedio)
#nc.costo_promedio = round(nc.costo_promedio)
nc.costo_promedio = nc.costo_promedio.fillna(0)
nc.costo_promedio = nc.costo_promedio.astype(int)

In [95]:
nc.head()

,nfolio,nsecuencia,prd_upc,xsubprod,qproducto,csucursal,crut_clt,propietario,xnombre_clt,xapellido_clt,xciudad_clt,dcreacion,xobservacion,xestado,cservicio,xservicio,borigen,suc,tienda,prd_lvl_child,costo_promedio,total_costo_promedio,fecha_corte,dias,antiguedad,grupo
0,1110556869,1,4971850906537,casio digital,1,krono time s.a.s,1012433986,cliente,jasbleidy,nino,bogota,2021-01-30 00:00:00,buen estado,ingresado,s,s.tecnico,t,72,la felicidad,2623884,76488,76488,2021-01-31,2,1.entre 1 y 15 dias,tienda
1,1110556876,1,50875814608,waflera giratoria doble bd,1,rm la esperanza,52474292,cliente,giovanna,arevalo rivera,bogota,2021-01-30 00:00:00,buen estado,ingresado,s,s.tecnico,t,72,la felicidad,7496081,114811,114811,2021-01-31,2,1.entre 1 y 15 dias,tienda
2,1110554568,1,2998810791684,sofa 3 .cpo te rihanna azul,1,aldia retiro f12,51797790,cliente,carolina,satizabal,medellin,2021-01-30 00:00:00,12630382128 retiro,despachado,r,retiro f12,t,9903,cd falabella,4017404,758301,758301,2021-01-31,2,1.entre 1 y 15 dias,cd
3,1110554575,1,8801643554514,lavadsecad gris cargafrontal 18k,1,aldia retiro f12,8162878,cliente,jose,villegas,medellin,2021-01-30 00:00:00,12630435596 retiro,despachado,r,retiro f12,t,9903,cd falabella,4457137,3098413,3098413,2021-01-31,2,1.entre 1 y 15 dias,cd
4,1110554599,1,7704712031545,nevera mabe no frost 220 lt top,1,aldia retiro f12,1088255523,cliente,nestor william,agudelo martinez,pereira,2021-01-30 00:00:00,12631220399 retiro,despachado,r,retiro f12,t,9903,cd falabella,4652823,848432,848432,2021-01-31,2,1.entre 1 y 15 dias,cd

In [104]:
nc.to_csv('output/data_f11_V8.csv', sep=';', index=False)